<html>
<head>
	<title>Vijay|Home Page</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<nav class="navbar navbar-light bg-faded" style='background-color:#000000'>
  
		<div class='nav navbar-nav'>
			<a class="navbar-brand" href="/">Vijay</a>    
  		<a class="navbar-brand" href="/about_me">About Me </a>
			<a class="navbar-brand" href="/about_me">My Work</a>
			<a class="navbar-brand" href="/about_me">Contact</a>
			<a class="navbar-brand" href="/about_me">Social</a>
		</div>
	</nav>
	<nav class="navbar navbar-light navbar-fixed-bottom" style='background-color:#000000'>
		<div class="nav navbar-nav">
			<p class="navbar-text">This Page is developed with Sinatra   <a href="http://www.sinatrarb.com/"><img src="/images/sinatra_logo.png" style= 'width:35px'></a			>  and Bootstrap  <a href="https://getbootstrap.com/"><img src="/images/Boostrap_logo.png" style="width:35px"></a></p>
		</div>
	</nav>

</head>
<body style="background-color:#616161">

</body>




</html>

